.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;
  padding: 20px 0px;
  width: 100%;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 16px 0px 16px 0px;
  }
}

.collumn {
  width: 100%;
}
